/**
Omega Theme for Obsidian
Author: OmegaC
Version: 1.1.0
                                             ▓▓▓▓▓▓▓▓▓▓                                             
                                       ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓                                       
                                   ▓▓▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓                                   
                                ▓▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓                                
                              ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓                             
                            ▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓        ▓█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓                            
                          ▒▒▒▒▒▒▒▒▒▒▒▒▓▓                    ██▓▓▓▓▓▓▓▓▓▓▓▓                          
                         ▒▒▒▒▒▒▒▒▒▒▒▓         ▓▒               █▓▓▓▓▓▓▓▓▓▓▓                         
                       ▒▒▒▒▒▒▒▒▒▒▒▒           ▓▒▒▒               █▓▓▓▓▓▓▓▓▓▓▓                       
                      ▒▒▒▒▒▒▒▒▒▒▒             ▓▒▒▒▒▒▒▒             █▓▓▓▓▓▓▓▓▓▓                      
                      ▒▒▒▒▒▒▒▒▒▒              ▓▒▒▒▒▒▒▒              █▓▓▓▓▓▓▓▓▓▓                     
                     ▒▒░░▒▒▒▒▒▒               ▓▒▒▒▒▒▒▒               ██▓▓▓▓▓▓▓▓                     
                    ▒▒░░░░░░▒                 ▓▒▒▒▒▓▓▓    ▓▓▓▓▓▓       █▓▓▓▓▓▓▓▓                    
                   ▒▒░░░░░░░▒                 ▓▓▓▓    ▓▒▒▓▒▒▒▓▓▓       █▓▓▓▓▓▓▓▓▓                   
                   ▒▒░░░░░░░                     ▒▒▒▒▒▒▒▒▒▒▒▒▒▓         ▓▓▓▓▓▓▓▓▓                   
                   ▒░░░░░░░░                ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓         █▓▓▓▓▓▓▓▓                   
                   ▒░░░░░░░░           ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓          █▓▓▓▓▓▓▓▓▓                  
                   ▒░░░░░░░░      ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓            █▓▓▓▓▓▓▓▓▓                  
                   ▒░░░░░░░░ ░░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓                 █▓▓▓▓▓▓▓▓▓                  
                   ▒░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▓                      ▓▓▓▓▓▓▓▓▓                   
                   ▒░░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▒   ▒▒▒▒▒                  ▓▓▓▓▓▓▓▓▓                   
                   ▒░░░░░░░░░░░░░░░░▒▒▒▒      ▒▒▒▒▒▒▒▒                  ▓▓▓▓▓▓▓▓▓                   
                    ▒░░░░░░░░░░░▒▒▒           ▒▒▒▒▒▒▒▒                 ▓▓▓▓▓▓▓▓▓                    
                    ▒▒░░░░░░░░▒               ▒▒▒▒▒▒▒▒                ▓▓▓▓▓▓▓▓▓▓                    
                     ▒░░░░░░░░░               ▒▒▒▒▒▒▒▒               ▓▓▓▓▓▓▓▓▓▓                     
                      ▒░░░░░░░░░░             ▒▒▒▒▒▒▒▒             ▓▓▓▓▓▓▓▓▓▓▓                      
                       ▒▒▒▒▒▒▒▒▒░             ▒▒▒▒▒▒▒▒             ▓▓▓▓▓▓▓▓▓▓                       
                                              ▒▒▒▒▒▒▒▒                                              
                ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓                
               ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓              
             ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓             
            ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓            
           ░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓███████████▓
 */

:root {
    --yale-blue: rgb(0, 53, 107);
    --oxford-blue: rgb(0, 33, 71);
    --cornflower-blue: rgb(100, 149, 237);
    --azure: rgb(0, 127, 255);
    --canary: rgb(255, 239, 0);
    --cinnabar: rgb(228, 77, 46);
    --imperial-red: rgb(237, 41, 57);
    --coral-pink: rgb(248, 131, 121);
    --saffron: rgb(244, 196, 48);
    --safety-orange: rgb(255, 121, 0);
    --malachite: rgb(11, 218, 81);
    --violet: rgb(128, 0, 255);
    --shocking-pink: rgb(255, 111, 255);
    --night: rgb(17, 17, 17);
    --charcoal: rgb(54, 69, 79);
    --white-smoke: rgb(245, 245, 245);
}

body {
    /* Misc. */
    --file-line-width: 5000px;
    --background-primary: var(--night);
    --background-secondary: var(--yale-blue);

    /* Texts */
    --text-normal: var(--white-smoke);
    --text-muted: var(--white-smoke);
    --text-faint: var(--white-smoke);
    --bold-color: var(--cornflower-blue);
    --italic-color: var(--coral-pink);
    --text-highlight-bg-rgb: 255, 239, 0;

    /* Callouts */
    --callout-question: 124, 252, 0;

    /* Checkboxes */
    --checkbox-radius: var(--radius-l);

    /* Code */
    --code-border-color: var(--white-smoke);
    --code-border-width: 2px;
    --code-background: var(--oxford-blue);

    /* Tables */
    --table-background: var(--oxford-blue);
    --table-header-background: var(--oxford-blue);
    --table-header-background-hover: var(--oxford-blue);
    --table-border-width: 2px;
    --table-border-color: var(--canary);
    --table-drag-handle-color: red;
    --table-drag-handle-color-active: red;

    /* Tags */
    --tag-color: var(--canary);
    --tag-radius: 4px;
    --tag-padding-x: 0.3em;
    --tag-padding-y: 0.1em;
    --tag-background: color-mix(in srgb, var(--azure) 40%, transparent);
}

/* Main Workspace */
.workspace-split.mod-root div.view-content {
    .cm-scroller {
        padding: 0 !important;
        justify-content: center;
    }
    .cm-sizer {
        margin: 24px 48px;
    }
}

/* Markdown Edit-mode */
.markdown-source-view.mod-cm6 {
    .cm-strong.cm-em { color: var(--azure); }
    .cm-highlight {
        border-radius: 4px;
        padding: 0 0.1em; }
    .cm-inline-code {
        color: var(--white-smoke);
        border-radius: 4px;
        border: 1px solid var(--white-smoke);
        background-color: black; }
    .cm-highlight.cm-strikethrough {
        color: var(--white-smoke);
        text-decoration: underline;
        background: none;
        &.cm-strong { color: var(--cornflower-blue); }
        &.cm-em { color: var(--coral-pink); }
        &.cm-strong.cm-em { color: var(--azure); } }
    .cm-header {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        &.cm-header-1 { color: var(--canary); }
        &.cm-header-2 { color: var(--coral-pink); }
        &.cm-header-3 { color: var(--cornflower-blue); }
        &.cm-header-4 { color: lightblue; }
        &.cm-header-5 { color: thistle; } }
    hr {
        border-width: 1px;
        border-color: var(--canary); }
    .cm-hmd-internal-link {
        &:not(:has(.is-unresolved)) a {
            color: var(--violet);
            text-decoration-color: var(--canary);
            transition: color 0.15s ease-out, text-decoration-color 0.15s ease-out;
            &:hover {
                color: var(--canary);
                text-decoration-color: var(--violet);
                font-weight: bold;
            }
        }
        &:has(.is-unresolved) a {
            color: var(--cinnabar);
            text-decoration-color: var(--safety-orange);
            &:hover {
                color: var(--imperial-red);
                text-decoration-color: var(--saffron);
            }
        } }
    .cm-link > a {
        color: var(--shocking-pink) !important;
        text-decoration-color: var(--canary);
        transition: color 0.25s ease-out, text-decoration-color 0.25s ease-out;
        &:hover {
            color: var(--canary) !important;
            text-decoration-color: var(--shocking-pink);
            font-weight: bold;
        } }
    .HyperMD-list-line {
        .list-bullet:after { background-color: var(--canary); }
        .list-number { color: var(--canary); }
        .cm-fold-indicator {
            > .collapse-indicator > svg.svg-icon { color: var(--violet); }
            &:has(.collapse-indicator:hover) ~ .cm-formatting-list-ul > .list-bullet:after {
                background-color: var(--canary);
                box-shadow: 0 0 8px 2px var(--canary);
            }
        } }
    input[type=checkbox] {
        &:checked {
            background-color: var(--malachite);
            border-color: var(--malachite);
        }
        border-color: var(--imperial-red);
        border-width: 2px; }
    .cm-table-widget {
        --table-border-color: var(--canary);
        display:flex;
        flex-direction: row;
        justify-content: center;
        overflow: visible;
        table {
            border: 2px solid var(--table-border-color);
            border-radius: 8px;
            border-collapse: separate;
            border-spacing: 0;
            overflow: hidden;
            td, th {
                border-width: 1px;
                border-style: solid;
                border-color: var(--table-border-color);
                font-weight: normal;
                color: var(--white-smoke);
                transition: background-color 0.15s ease-out;
                &:not(:has(mark)):hover {
                    background-color: var(--violet);
                }
                &:has(mark):hover {
                    background-color: var(--saffron);
                }
            }
            td:first-child, th:first-child { border-left: none; }
            td:last-child, th:last-child { border-right: none; }
            thead > tr th { border-top: none; }
            tbody > tr:last-child td { border-bottom: none; }
            td:has(mark), th:has(mark) {
                background-color: var(--safety-orange);
                mark {
                    color: var(--night);
                    background: none;
                    font-weight: bold;
                }
            }
        }
        .table-row-btn {
            top: 93%;
            border-color: var(--table-border-color);
            border-radius: 0 0 8px 8px;
            border-width: 2px;
            padding-top: 14px;
            padding-bottom: 7px;
            background-color: color-mix(in srgb, var(--azure) 30%, transparent);
            z-index: -1;
        }
        .table-col-btn {
            svg.svg-icon { min-width: 24px; }
            width: 20px;
            inset-inline-start: 97%;
            border-color: var(--table-border-color);
            border-radius: 0 8px 8px 0;
            border-width: 2px;
            padding-left: 15px;
            padding-right: 7px;
            background-color: color-mix(in srgb, var(--azure) 30%, transparent);
            z-index: -1;
        } }
    .HyperMD-quote {
        &:before, .cm-blockquote-border:before {
            border-inline-start: 2px solid var(--canary) !important;
        }
        &.cm-active .cm-transparent, .cm-formatting {
            color: var(--saffron) !important;
        }
        background-image: linear-gradient(to right, var(--yale-blue), transparent);
        background-position: 2px; }   
    .cm-line {
        &:has(+ .HyperMD-quote):not(.HyperMD-quote) + .HyperMD-quote:before { border-top-left-radius: 8px; }
        &.HyperMD-quote:has(+ .cm-line:not(.HyperMD-quote)):before { border-bottom-left-radius: 8px; } }
    img { justify-self: center; }
    .cm-callout {
        transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        .callout {
            padding: 8px 16px;
            border-radius: 4px;
            .callout-content > p {
                margin-top: 4px;
                margin-bottom: 0;
            }
            &[data-callout="note"] { border: 2px solid var(--azure); }
            &[data-callout="summary"], &[data-callout="abstract"], &[data-callout="tldr"] { border: 2px solid aqua; }
            &[data-callout="info"], &[data-callout="todo"] { border: 2px solid royalblue; }
            &[data-callout="tip"], &[data-callout="hint"], &[data-callout="important"] { border: 2px solid deepskyblue; }
            &[data-callout="success"], &[data-callout="check"], &[data-callout="done"] { border: 2px solid var(--malachite); }
            &[data-callout="question"], &[data-callout="help"], &[data-callout="faq"] { border: 2px solid lawngreen; }
            &[data-callout="warning"], &[data-callout="caution"], &[data-callout="attention"] { border: 2px solid var(--safety-orange); }
            &[data-callout="failure"], &[data-callout="fail"], &[data-callout="missing"] { border: 2px solid var(--imperial-red); }
            &[data-callout="danger"], &[data-callout="error"], &[data-callout="bug"] { border: 2px solid crimson; }
            &[data-callout="example"] { border: 2px solid mediumpurple; }
            &[data-callout="quote"], &[data-callout="cite"] { border: 2px solid var(--charcoal); }
        }
        &:hover {
            cursor: pointer !important;
            box-shadow: none !important;
            transform: scale(1.03) !important;
            .edit-block-button > svg.svg-icon {
                color: var(--white-smoke);
            }
        } }
    .mermaid {
        display: flex;
        justify-content: center;
    }
}